 html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

  .slider {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

  .slick-slide {
      margin: 0px 20px;
    }

   .slider .slick-prev{
  left: -10px;
   }

  .slider .slick-next{
  right: -10px;
   }
   
   /*.slick-slide img {
      width: 100%;
    } 
*/
  .slick-prev:before,
  .slick-next:before {
      color: black;
    }
    
  .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

  .slick-active {
      opacity: .5;
    }

  .slick-current {
      opacity: 1;
    }

  .row.expanded {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

/*custom css*/
.myslide.slick-initialized .slick-slide {
  max-width: 859px;
}

.slider.myslide{
  height: 400px;
}

.slider.myslide div, .slick-slide img{
  height: inherit;
}

.slick-slide div div{
  text-align: -webkit-center;
  text-align: -moz-center;
}
